<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sample.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sample.age %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
