<%= simple_form_for(resource, as: resource_name,
 url: registration_path(resource_name),
 html: {class: 'form-signin'}) do |f| %>
<h2 class="text-center">Sign Up</h2>
  <%= f.error_notification %>
  

  <form>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false, 
                placeholder: 'Enter Email here',
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: 'Enter Password here',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block' %>
  </form>
<% end %>

<%= render "devise/shared/links" %>
